<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls blog</title>
</head>
<body style="background-color: #cbcbcb;">
    <header>
        <h1><a href="">Django Girls blog</a></h1>
        
    </header>
    <article>
        <time>Published: 04/15/2024</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda mollitia, dolores blanditiis accusantium at consequatur quae iure! Quas, cum consectetur? Sit in nulla molestiae vitae atque deleniti, deserunt maiores.</p>
    </article>
    
    <article>
        <time>Published: 04/22/2024</time>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste assumenda mollitia, dolores blanditiis accusantium at consequatur quae iure! Quas, cum consectetur? Sit in nulla molestiae vitae atque deleniti, deserunt maiores.</p>
    </article>
</body>
</html>